@use "../../app/styles/variables" as *;

.registration-page {
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.registration-card {
  width: min(90%, 600px);
  border: 4px solid $default-border;
  border-radius: $radius-lg;
  padding: 32px;
}

.registration-card p {
  margin-bottom: p6x;
  font-size: 45px;
  font: 600 32px/1.45 $font-primary;
}

.registration-card h1 {
  margin-bottom: 10px;
  text-align: center;
  font: 600 40px/1.45 $font-primary;
}

.registration-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
}

.registration-form__levels-list {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.level-chip input {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}

.level-chip span {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  border: 3px solid $default-border;
  border-radius: $radius-lg;

  height: 46px;
  padding: 0 18px;
  font-size: 32px;

  cursor: pointer;
}

.level-chip input:checked + span {
  background: $bg-primary;
  color: $bg-canvas;
}

.form-message {
  margin: 8px 0 10px;
  font: 500 20px/1.3 $font-primary;
}

.form-message--error {
  color: #b42318;
}

.form-message--success {
  color: #067647;
}
